body { 
    margin: 0;
    padding:0;
    background-size: cover;
    background-position: center;
}

.Error{
    border: solid 1px red;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 2rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
    margin-top: 1.5rem;
}

.marketing .col-lg-4 a {
  font-weight: 400;
}

.marketing .col-lg-4 > img {
  width: 100px;
    height: 100px;
}

.carousel-indicators .active{
	background-color:#222;
	width: 20px;
	height: 20px;
	border: none;
	
}
.carousel-indicators li{
	border-color:#222;
	text-indent: 0;
      margin: 0 1px;
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 100%; 
      color: #fff;
      background-color: #fff;
      transition: all 0.25s ease;
       
}

.jumbotron{
	width:100%;
	height:100%;
	background: linear-gradient(to right, rgba(0, 163, 197, 0.3) 1%, rgba(171, 206, 53,0.3) 100%); 

     }
.bg-principal { 
  background: url('https://img.wallpapersafari.com/desktop/1920/1080/68/52/M7EdYH.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover; 
  background-size: cover;
}  

.list-group{
margin-top: 35px; 
}

.margin{
    margin-right: 50px;
}

.titleheaders{
	margin:30px; 
	text-align:center;
}

.item {
    padding-left: 100px;
    font-size: 20px;
    align-content: center;
    padding: 20px 10px;
     
    color: #fff;
    margin-top: 5px;  
}

.containter-menu{
    margin: 50px 70px 50px 70px; 
}

.footer{ 
    height: 30px;
    padding: 5px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: right;
    margin-right: 50px;
}

footer {
   
  padding: 1rem;
    height: 30px;
    padding: 5px;
    color: #ffffff;
    text-align: center;
}



.login-box {
    width: 320px;
    height: 420px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    
}


h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover{
cursor: pointer;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.login-box a{
color: #00a3c5;
}

a:hover {
    color: black;
    text-decoration: none;
}

header {
    height: 65px;
    padding: 25px;
}

.background-verde {
    background: #abce35;
}

.background-gradient {
    background: linear-gradient(to right, rgb(0, 163, 197) 1%, rgb(171, 206, 53) 100%);
}

nav a{
    color: snow;
}


datos-resumen a {
    color: #ffffff;
    margin: 10px;
}

.boton-header {
    border: 2px solid #ffffff;
    border-radius: 10px;
    width: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    text-align: center;
    transition: all .5s ease;
}

.boton-header:hover {
    border: 2px solid #00a3c5;
    background: #00a3c5;
    color: #ffffff;
    transition: all .5s ease;
    }

.nombre-header {
    font-size: 22px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.notificaciones-header {
    font-size: 24px;
    display: inline-block;
}

.navbar-inverse .navbar-nav > li > a {
    color: #00a3c5;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #ffffff;
    }
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}





/**/

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto Condensed, Helvetica Neue, sans-serif;
  display: table;
  height: 100%;
  width: 100%;
}

.vertical-align {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
}

.button-link {
  text-decoration: none;
}



@media screen and (min-width: 1000px) {
.btns {
	background-color: #ff9035;
	background-image: linear-gradient(to right, rgb(0, 163, 197) 5%, rgb(171, 206, 53) 90%);
	z-index: 0;
	height: 60px;
	float: none;
	margin: 1% auto 2% auto; 
	width: 900px;
	max-width: 100%;
	border-radius: 40px;
	display: block;

	}
	
		.btns {
		background-color: #ff9035;
		background-image: linear-gradient(to right, rgb(0, 163, 197) 5%, rgb(171, 206, 53) 90%);
		z-index: 0;
		height: 60px;
		float: none;
		margin: 1% auto 2% auto; 
		width: 950px;
		max-width: 100%;
		border-radius: 40px;
		display: block;

	}
	.btns input {
	  display: none;
	}
	.btns label {
	  display: table;
	  float: left;
	  padding: 0;
	  width: 20%;
	  height: 100%;
	  margin: 0;
	  text-align: center;
	  border-left: 1px solid rgba(0, 0, 0, 0.05);
	}
	.btns label:first-child {
	  border-left: none;
	  border-radius: 40px 0 0 40px;
	}
	.btns label:last-child {
	  border-radius: 0 40px 40px 0;
	}
	.btns .btn {
	  font-size: 19px;
	  cursor: pointer;
	  width: 100%;
	  display: table-cell;
	  vertical-align: middle;
	  font-weight: 300;
	  color: #FFF;
	  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
	  -webkit-box-shadow: inset 0 30px 20px -20px rgba(255, 255, 255, 0.15);
			  box-shadow: inset 0 30px 20px -20px rgba(255, 255, 255, 0.15);
	  -webkit-transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
	  -webkit-transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
	  transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
	  transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
	  transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
	}
	.btns .btn:hover {
	  -webkit-box-shadow: inset 0 30px 30px -20px rgba(50, 50, 50, 0.02);
			  box-shadow: inset 0 30px 30px -20px rgba(50, 50, 50, 0.02);
	  -webkit-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	.btns .btn:after {
	  content: '\2714';
	  margin-left: -10px;
	  display: inline-block;
	  -webkit-transform: scale(0);
	  transform: scale(0);
	  -webkit-transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
	  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
	  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
	  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
	}
	.btns .first {
	  border-radius: 40px 0 0 40px;
	}
	.btns .last {
	  border-radius: 0 40px 40px 0;
	}
	.btns input:checked + .btn {
	  color: #5f6982;
	  text-shadow: none;
	  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(65%, rgba(25, 25, 25, 0)), to(rgba(25, 25, 25, 0.08)));
	  background-image: linear-gradient(to top, rgba(25, 25, 25, 0) 65%, rgba(25, 25, 25, 0.08));
	  -webkit-box-shadow: inset 0 10px 50px rgba(25, 25, 25, 0.08);
			  box-shadow: inset 0 10px 50px rgba(25, 25, 25, 0.08);
	  -webkit-transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 150ms;
	  -webkit-transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 150ms;
	  transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-box-shadow 150ms;
	  transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 150ms;
	  transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 150ms, -webkit-box-shadow 150ms;
	}
	.btns input:checked + .btn:after {
	  margin-left: 12px;
	  -webkit-transform: scale(1.25);
	  transform: scale(1.25);
	  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms;
	  -webkit-transition: margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
	  transition: margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
	  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms;
	  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
	}
	.pregunta{ 
		  font-size: 21px;
		  width:90%;
		  padding: 0 0% 0% 8%;	
		}
	
}
@media screen and (max-width: 999px) {
	 
	.btns input {
	  display: none;
	}
	
	.btns label {  
	  background-color:#1caab1;   
	}
	
	.btns label{
	  border-radius: 20px;
	}
	 
	.btns .btn { 
	  color: #FFF;
	}
	
	.btns .btn:hover {
	  -webkit-box-shadow: inset 0 30px 30px -20px rgba(50, 50, 50, 0.02);
			  box-shadow: inset 0 30px 30px -20px rgba(50, 50, 50, 0.02);
	  -webkit-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	
	
	.btns input:checked + .btn {
	  color: black;  
	  border-radius: 20px;
	  background-color:lightgreen;
	}
	
	.pregunta{ 
	  font-size: 17px;
	  padding-right:5%;
	}
    .table.dataTable, table.dataTable{
        width: 99.8%;
    }