<!DOCTYPE html>
<html>
	<head>
		<title>Cálculo I</title>
	<script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">	
	<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 <!-- Css sheet-->
    <link rel="stylesheet" href="../css/site.css" />
   
	</head>	
	<body> 
		<div class="row">
			<div class="col-sm">
				<nav class="navbar navbar-expand-lg no-border background-gradient">
				  <a class="navbar-brand" href="#">Universidad</a>
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
					  <li class="nav-item active">
						<a class="nav-link navb-color" href="home.html">Home <span class="sr-only">(current)</span></a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="asistencia.html">Asistencias</a>
					  </li>
                        <li class="nav-item">
						<a class="nav-link" href="#">Matrícula</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="evaluacionD.html">Evaluación Docente</a>
					  </li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<ul class="navbar-nav mr-auto">
						  <li>
							<a class='container-fluid nav-item' class="nombre-header" href="#">Username</a>
						  </li> 
						  <li>
							<a class='container-fluid nav-item' class="boton-header" href="login.html"> Salir</a>
						  </li>  
						</ul>  
					</form>
				  </div>
				</nav>
			</div>	
		</div>	
    
    <div class="container"> 
        <h4 class="titleheaders"> Cálculo I</h4>
    <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Semana 1</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Sumas y restas.pptx</p>
    <small>Descargar</small>
  </a>
  
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Semana 2</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Integrales Basicas.pptx</p>
    <small class="text-muted">Descargar</small>
  </a>
        
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Semana 3</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Introduccion a la Fisica Cuantica.pptx</p>
    <small class="text-muted">Descargar</small>
  </a>
        
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Semana 4</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Teoria de la relatividad.pptx</p>
    <small>Descargar</small>
  </a>
        
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Semana 5</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Examen Parcial 1</p>
    <small>Valor 30%</small>
  </a>
        
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Semana 6</h5>
      <small>3 days ago</small>
    </div>
	  <p class="mb-1">No hay clases</p>
    <small>Se repondra el jueves en la tarde de semana 6 en el aula 3-B</small>
  </a>
        
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Semana 7 </h5>
      <small>3 days ago</small>
    </div>
	  <p class="mb-1">Quiz 1</p>
    <small>Valor 5%</small>
  </a>
        
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Semana 8</h5>
      <small>3 days ago</small>
    </div>
	<p class="mb-1">Parabolas.pptx</p>
    <small>Descargar</small>
  </a>
        
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Semana 9</h5>
      <small>3 days ago</small>
    </div>
		  <p class="mb-1">Quiz 2</p>
    <small>Valor 5%</small>
  </a>

<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Semana 10</h5>
      <small>3 days ago</small>
    </div>
	<p class="mb-1">Examen Parcial 2</p>
    <small>Valor 30%</small>
  </a>
        
</div> 
    </div>
    
    
    <footer class="background-gradient text-center fixed-bottom">
        <p>Diseñado por Equipo Web Design</p>
    </footer>
    <script src="../js/function.js"></script>
	</body>
</html>