<!DOCTYPE html>
<html>
	<head>
		<title>Carrera</title>
	<script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">	
		<!-- Bootstrap Core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<!-- Jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Css sheet-->
		<link rel="stylesheet" href="../css/JC/CarrerasCss.css" />
   <!-- DATATABLES -->
		<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/af-2.2.2/b-1.5.1/b-colvis-1.5.1/fc-3.2.4/fh-3.1.3/r-2.2.1/sl-1.2.5/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/af-2.2.2/b-1.5.1/b-colvis-1.5.1/fc-3.2.4/fh-3.1.3/r-2.2.1/sl-1.2.5/datatables.min.js"></script>

	   
	</head>	
<body>
		<div class="row">
			<div class="col-sm-12">
				<nav class="navbar navbar-expand-lg no-border background-gradient">
				  <a class="navbar-brand" href="home.html">Universidad</a>
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
					  <li class="nav-item active">
						<a class="nav-link navb-color" href="home.html">Home <span class="sr-only">(current)</span></a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="asistencia.html">Asistencias</a>
					  </li>
                    <li class="nav-item">
						<a class="nav-link" href="matricula.html">Matrícula</a>
					  </li>
                    <li class="nav-item">
						<a class="nav-link" href="cursos.html">Cursos</a>
					  </li>
                    <li class="nav-item">
						<a class="nav-link" href="evaluacionD.html">Evaluación Docente</a>
					  </li>
                       <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Configuración
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						 
						  <a class="dropdown-item" href="parametros.html">Parametros</a>
						  <a class="dropdown-item" href="carreras.html">Carreras</a>
						  <a class="dropdown-item" href="materias.html">Materias</a>
						  <a class="dropdown-item" href="requisitos.html">Requisitos</a>
						  <a class="dropdown-item" href="tipos_usuarios.html">Tipos Usuarios</a>
						</div>
					  </li>
                      <li class="nav-item">
						<a class="nav-link" href="usuarios.html">Usuarios</a>
					  </li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<ul class="navbar-nav mr-auto">
						  <li>
							<a href="#" class='container-fluid nav-item' class="nombre-header">Username</a>
						  </li> 
						  <li>
							<a class='container-fluid nav-item' href="#" class="boton-header"> Salir</a>
						  </li>  
						</ul>  
					</form>
				  </div>
				</nav>
			</div>	
		</div>	
    <div class="container">
    <!-- Trigger the modal with a button --> 
	<section>
		<!-- Modal -->
		<div id="model_carrera" class="modal fade" role="dialog">
		  <div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Nueva carrera</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form method="post" class="card-body form-nuevaCarrera form-carrera">
						<div class="form-group">
							<label>Nombre:</label>
							<input class="form-control validate no-espacios" type="Nombre" required />
						</div>
						<div class="form-group">
							<label>Descripción:</label>
							<input class="form-control validate no-espacios" type="Descripcion" required />
						</div>
						<div class="form-group">
							<label>Director:</label>
							<input class="form-control validate no-espacios" type="Director" required />
						</div>
						<div>
							<input type="submit" class="btn btn-primary pull-right" value="Guardar" />
						</div>
					</form>
					<div class="alert alert-danger fade alerthidden">
    La contraseña debe contener:
        <br>- mínimo 8 dígitos
        <br>- un signo de puntuación
        <br>- una letra en mayúscula
        <br>- un número.
  </div>
				</div>
			</div> 
		  </div>
		</div>
				
				<!-- Modal Edit-->
			<div id="model_carrera_edit" class="modal fade" role="dialog">
			  <div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
				  <div class="modal-header">
					<h4 class="modal-title">Editar carrera</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				  </div>
				  <div class="modal-body">
					   <form method="post" class="card-body form-editarCarrera">
							<div class="form-group">
								<label>Nombre:</label>
								<input class="form-control validate no-espacios" type="Nombre" required />
							</div>
							<div class="form-group">
								<label>Descripción:</label>
								<input class="form-control validate no-espacios" type="Descripción" required />
							</div>
							<div class="form-group">
								<label>Director:</label>
								<input class="form-control validate no-espacios" type="Director" required />
							</div>
							<div>
								<input type="submit" class="btn btn-primary pull-right" value="Guardar" />
							</div>
						</form>
				  </div>
				</div>

			  </div>
			</div>
		</section>
	<button type="button" class="btn btn-primary NuevoButtonMargin" data-toggle="modal" data-target="#model_carrera">Nueva carrera</button> 
	<table id="tabla_usuarios" class="dataTable table table-striped table-bordered" cellspacing="0">
        <thead>
					<tr>
						<th>Carrera</th>
						<th>Descripción</th>
						<th>Director</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Informática</td>
						<td>Descripción de Informática</td>
						<td>Director Uno</td>
							
						<td>
							<a class="btn btn-warning" data-toggle="modal" data-target="#model_carrera_edit">
							<span class="fa fa-edit FontAwesome"></span> </a>
							<a class="btn btn-danger" onclick="myFunctionDelete()">
							<span class="fas fa-trash-alt FontAwesome"></span> </a>
						</td>
					</tr>
					<tr>
						<td>Derecho</td>
						<td>Descripción de Derecho</td>
						<td>Director Dos</td>
						<td>
							<a class="btn btn-warning" data-toggle="modal" data-target="#model_carrera_edit">
							<span class="fa fa-edit FontAwesome"></span> </a>
							<a class="btn btn-danger" onclick="myFunctionDelete()">
							<span class="fas fa-trash-alt FontAwesome"></span> </a>
						</td>
					</tr>
					<tr>
						<td>Diseño</td>
						<td>Descripción de Diseño</td>
						<td>Director Tres</td>
						<td>
							<a class="btn btn-warning" data-toggle="modal" data-target="#model_carrera_edit">
							<span class="fa fa-edit FontAwesome"></span> </a>
							<a class="btn btn-danger" onclick="myFunctionDelete()">
							<span class="fas fa-trash-alt FontAwesome"></span> </a>
						</td>
					</tr>


				</tbody>
    </table>
    </div>
    <footer class="background-gradient text-center fixed-bottom">
        <p>Diseñado por Equipo Web Design</p>
    </footer>
    <script src="../js/FormCarrera.js"></script>
	</body>
</html>