<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Campus</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
 <!-- Css sheet-->
    <link rel="stylesheet" href="../css/site.css" />
</head>
<body>
    <notificaciones>Hola</notificaciones>
    <header class="row background-gradient">
        <logo class="col-md-6 col-sm-12">
            <img src="http://via.placeholder.com/200x100">
        </logo>
        <resumen class="col-md-6 col-sm-12">
            <datos-resumen>
                <a href="#" class="nombre-header">Juan Jiménez</a>
                <a href="#" class="notificaciones-header"><i class="far fa-bell"></i></a>
                <a href="#" class="boton-header">Perfil</a>
                <a href="#" class="boton-header">Salir</a>
            </datos-resumen>
        </resumen>
    </header>
    <nav class="navbar navbar-inverse no-border  background-verde">
        <div class="container">
                <ul class="nav navbar-nav">
					  <li class="nav-item active">
						<a class="nav-link navb-color" href="home.html">Home <span class="sr-only">(current)</span></a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#">Asistencias</a>
					  </li>
                        <li class="nav-item">
						<a class="nav-link" href="#">Matrícula</a>
					  </li>
					  <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Evaluación Docente
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <a class="dropdown-item" href="#">Preguntas</a>
						  <a class="dropdown-item" href="#">Respuestas</a>
						  <div class="dropdown-divider"></div>
						  <a class="dropdown-item" href="#">Otros</a>				  
						</div>
					  </li>
                </ul>
        </div>
    </nav>
    <div class="container body-content">
        <h2>Mis cursos</h2>
        <div class="list-group">
  <a href="programacion.html" class="list-group-item list-group-item-action"> Programación I</a>
  <a href="ingles.html" class="list-group-item list-group-item-action">Ingles II</a>
  <a href="calculo.html" class="list-group-item list-group-item-action">Cálculo I</a>
  <a href="historia.html" class="list-group-item list-group-item-action"> Historia económica de Costa Rica</a>
  <a href="introInfor.html" class="list-group-item list-group-item-action">Introducción a la informática</a>
</div>
    </div>
    <footer class="background-gradient text-center">
        <p>Diseñado por Papuchos Web Design</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../js/function.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
</body>
</html>