<!DOCTYPE html>
<html>
    <head>
		<title> Grupos</title>
		

	
	<!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="../bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <!-- <link href="./bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables JavaScript -->
    <script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
	<!-- Css sheet-->
	<!--FontAwesome-->
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

	<link rel="stylesheet" href="../css/GrupoMatriculaPago.css" />
	
	<script src="../js/GrupoMatriculaPago.js"></script>
		
	</head>
	
	<body>
		
		<header class="navbar navbar-expand-lg no-border background-gradient">
		<div>
			<h1><center><span style="color: #ffffff;">Grupos</span></center></h1>
			<a class="btn btn-primary"   href=materias.html style="color: #ffffff;">Volver a materias
			 <span class="fas fa-arrow-left"></span>
			
			</a>
		</div>
	</header>
			
		</div>
	
		<div class="col-md-12">
			
			<div class="panel-heading">
			 <p>&nbsp;</p>
			<a class="btn btn-primary"   data-toggle="modal" data-target="#myModal">Crear grupo
			 <span class="fas fa-book"></span>
			</a>
			
			</div>
			<div class="row">
				
				<div class="col-md-12">
							  
					<!-- Table -->
				   
					<table id="datatable" class="table table-striped table-bordered">

						 <thead>
							  <tr>
							   <th>Materia</th>
								 <th>IDgrupo</th>
								 <th>Numero de grupo</th>
								  <th>Horario</th>
								 <th>Opciones</th>
							  </tr>
						 </thead>
						<tbody id ="tabla2" > 
						</tbody>
					</table>
								
				</div>
			</div>

	<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
				
					<div class="modal-header">
					
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" id = "titleModel">Crear nuevo grupo</h4>
					</div>
					
					<div class="modal-body">
					  
						<label for="usr">Materia:</label><br>
					   <input type = "text" class="form-control" id = "idmateria" required onKeyPress="return Alfanumericos(event);"> </input><br>
						<label for="asd">IDgrupo:</label><br>
					   <input type = "text" class="form-control" id = "idgrupo" maxlength="5" required> </input><br>
					   <label for="asd">Numero de grupo:</label><br>
		
					 <input  type="number" id="idnumerogrupo"  min ='1'class="form-control" required onKeyPress="return SoloNumeros(event);"><br>
						<label for="asd">Horario:</label><br>
						<form >
						<input type="radio" name = "idhorario" value='LM' > Lunes-Mañana
                        <input type="radio" name = "idhorario" value='LT'> Lunes-Tarde
						<input type="radio" name = "idhorario" value='LN'> Lunes-Noche<br>
                        <input type="radio" name = "idhorario" value='KM'> Martes-Mañana
						<input type="radio" name = "idhorario" value='KT'> Martes-Tarde
                        <input type="radio" name = "idhorario" value='KN'> Martes-Noche<br>
						<input type="radio" name = "idhorario" value='MM'> Miércoles-Mañana
                        <input type="radio" name = "idhorario" value='MT'> Miércoles-Tarde
						<input type="radio" name = "idhorario" value='MN'> Miércoles-Noche<br>
                        <input type="radio" name = "idhorario" value='JM'> Jueves-Mañana
						<input type="radio" name = "idhorario" value='JT'> Jueves-Tarde
                        <input type="radio" name = "idhorario" value='JN'> Jueves-Noche<br>
						<input type="radio" name = "idhorario" value='VM'> Viernes-Mañana
                        <input type="radio" name = "idhorario" value='VT'> Viernes-Tarde
						<input type="radio" name = "idhorario" value='VN'> Viernes-Noche<br>
                        <input type="radio" name = "idhorario" value='SM'> Sábado-Mañana
						<input type="radio" name = "idhorario" value='ST'> Sábado-Tarde
                        <input type="radio" name = "idhorario" value='SN'> Sábado-Noche <br>
					   </form>
						
					  
					   
					  <div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" id ="closeMyModal">Cancelar</button>
						<button type="button"  class="btn btn-default" id = "Add"   onclick="Addrow()">Agregar</button>	
						<button type="button"  class="btn btn-default" id = "edit"   onclick="editRowBotton()" style="display:none"  >Editar grupo</button>
					  </div>
					  
					</div>
				</div>
			</div>
		</div>
		
		<button type="button"data-toggle="modal" data-target="#DeleteModal" style="display:none" id = "btn_modalDelete"></button>
		
			<!-- Modal Eliminar -->
		<div id="DeleteModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
				
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" id = "titleModelDelete">Borrar</h4>
					</div>
					
					<div class="modal-body">
					  
						<label for="usr">¿Desea eliminar el grupo?</label><br>
						<button type="button"  class="btn btn-default" id = "yesDelete"  >Si</button>	
						<button type="button"  class="btn btn-default" id = "noDelete"  data-dismiss="modal" >No</button>
					    <div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" id ="closeDeleteModal">Cerrar</button>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
