<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>CV - Home</title>
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="../css/site.css" />
</head>
    
<body class="menu">
<div class="margin">     
    <div class="list-group">
  <a href="cursos.html" class="item list-group-item list-group-item-action align-self-stretch">Cursos</a>
  <a href="asistencia.html" class="item list-group-item list-group-item-action align-self-stretch">Asistencias y notas</a>
  <a href="matricula.html" class="item list-group-item list-group-item-action align-self-stretch">Matrícula</a>
  <a href="evaluacionD.html" class="item list-group-item list-group-item-action align-self-stretch">Evaluación de maestros</a>
        </div>
</div>
<!--    
<footer class="footer">
   <input class="btn btn-primary btn-sm" type="text" value="Tipo usuario" disabled>
    </footer>
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
