<!DOCTYPE html>
<html>
	<head>
		<title>Ingles II</title>
	<script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">	
	<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 <!-- Css sheet-->
    <link rel="stylesheet" href="../css/site.css" />
   
	</head>	
	<body> 
		<div class="row">
			<div class="col-sm">
				<nav class="navbar navbar-expand-lg no-border background-gradient">
				  <a class="navbar-brand" href="#">Universidad</a>
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
					  <li class="nav-item active">
						<a class="nav-link navb-color" href="home.html">Home <span class="sr-only">(current)</span></a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="asistencia.html">Asistencias</a>
					  </li>
                        <li class="nav-item">
						<a class="nav-link" href="#">Matrícula</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="evaluacionD.html">Evaluación Docente</a>
					  </li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<ul class="navbar-nav mr-auto">
						  <li>
							<a class='container-fluid nav-item' class="nombre-header" href="#">Username</a>
						  </li> 
						  <li>
							<a class='container-fluid nav-item' class="boton-header" href="login.html"> Salir</a>
						  </li>  
						</ul>  
					</form>
				  </div>
				</nav>
			</div>	
		</div>	
    
    <div class="container"> 
 <section>
            <h2>Registrar Materia</h2>
            <div class="card">
                <form method="post" class="card-body">
                    <div class="form-group">
                        <label>Código:</label>
                        <input class="form-control validate" type="Text" required />
                    </div>
                    <div class="form-group">
                        <label>Carrera:</label>
                        <input class="form-control validate" type="Text" required />
                    </div>
                    <div class="form-group">
                        <label>Nombre:</label>
                        <input class="form-control validate" type="Text" required />
                    </div>
					<div class="form-group">
                        <label>Créditos:</label>
                        <input class="form-control validate" type="Number" min=1 max=6 required />
                    </div>
					<div class="form-group">
                        <label>Precio:</label>
                        <input class="form-control validate" type="Number" required />
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary pull-right" />
                    </div>
                </form>
            </div>
        </section>
   </div>
    
    
    <footer class="background-gradient text-center fixed-bottom">
        <p>Diseñado por Equipo Web Design</p>
    </footer>
    <script src="../js/function.js"></script>
	</body>
</html>