<!DOCTYPE html>
<html>
	<head>
		<title>Ingles II</title>
	<script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">	
	<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
 <!-- Css sheet-->
    <link rel="stylesheet" href="../css/site.css" />
   
	</head>	
<body>
		<div class="row">
			<div class="col-sm">
				<nav class="navbar navbar-expand-lg no-border background-gradient">
				  <a class="navbar-brand" href="#">Universidad</a>
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
					  <li class="nav-item active">
						<a class="nav-link navb-color" href="home.html">Home <span class="sr-only">(current)</span></a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#">Asistencias</a>
					  </li>
                        <li class="nav-item">
						<a class="nav-link" href="#">Matrícula</a>
					  </li>
					  <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Evaluación Docente
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <a class="dropdown-item" href="#">Preguntas</a>
						  <a class="dropdown-item" href="#">Respuestas</a>
						  <div class="dropdown-divider"></div>
						  <a class="dropdown-item" href="#">Otros</a>				  
						</div>
					  </li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<ul class="navbar-nav mr-auto">
						  <li>
							<a class='container-fluid nav-item' class="nombre-header">Username</a>
						  </li> 
						  <li>
							<a class='container-fluid nav-item' href="#" class="boton-header"> Salir</a>
						  </li>  
						</ul>  
					</form>
				  </div>
				</nav>
			</div>	
		</div>	
    
    <div class="container">
        <section id="Detalle Matricula">
				<table style="height: 232px; width: 594px;">
					<tbody>
						<tr>
							<td style="width: 143px;">Materia</td>
							<td style="width: 233px;">Costo</td>
						</tr>
						<tr>
							<td style="width: 143px;">1</td>
							<td style="width: 233px;">&nbsp;</td>

						</tr>
						<tr>
							<td style="width: 143px;">2</td>
							<td style="width: 233px;">&nbsp;</td>
						</tr>
						<tr>
							<td style="width: 143px;">3</td>
							<td style="width: 233px;">&nbsp;</td>
						</tr>
						<tr>
							<td style="width: 143px;">4</td>
							<td style="width: 233px;">&nbsp;</td>
						</tr>
						<tr>
							<td style="width: 143px;">5</td>
							<td style="width: 233px;">&nbsp;</td>
						</tr>
						<tr>
							<td style="width: 94.8px;">&nbsp;</td>
							<td style="width: 233px;">Total Materias</td>
							<td style="width: 101.2px;">&nbsp;</td>
						</tr>
						<tr>
							<td style="width: 143px;">&nbsp;</td>
							<td style="width: 233px;">Beca</td>
							<td style="width: 101.2px;">&nbsp;</td>
						</tr>
						<tr>
							<td style="width: 143px;">&nbsp;</td>
							<td style="width: 233px;">Total con beca</td>
							<td style="width: 101.2px;">&nbsp;</td>

						</tr>
						<tr>
							<td style="width: 143px;">&nbsp;</td>

						</tr>
						<tr>
							<td style="width: 143px;">&nbsp;</td>
							<td style="width: 233px;">Matricula</td>
							<td style="width: 101.2px;">75000</td>

						</tr>
						<tr>
							<td style="width: 143px;">&nbsp;</td>
							<td style="width: 233px;">Descuento en matricula</td>
							<td style="width: 101.2px;">&nbsp;</td>
						</tr>

						<tr>
							<td style="width: 143px;">&nbsp;</td>
						</tr>
						<tr>
							<td style="width: 143px;">&nbsp;</td>
							<td style="width: 276px;">&nbsp;</td>
							<td style="width: 101.2px;">Total A pagar</td>
							<td style="width: 94.8px;">&nbsp;</td>
						</tr>
					</tbody>
				</table>
</section>
<span style="color: #33cccc;">Enviar Pago a cajar y volver al menu principal  </span>
<a href=index.html class="btn btn-primary" role="button">
                        <span class="fas fa-home"></span>
                        </a>
</button>
    </div>
    <footer class="background-gradient text-center">
        <p>Diseñado por Equipo Web Design</p>
    </footer>
    <script src="../js/function.js"></script>
	</body>
</html>